@model PagedList.IPagedList<Model.EF.User>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="main_container">
    @{Html.RenderAction("LeftMenu", "Home"); }
    <!-- page content -->
    <div class="right_col" role="main">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Danh sách người dùng</h3>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    @using (Html.BeginForm("Index", "User", FormMethod.Get))
                    {
                        <div class="row form-group">
                            <div class="col-lg-12">
                                <div class="col-md-4">
                                    <input type="text" value="@ViewBag.SearchString" class="form-control" name="searchString" />
                                </div>
                                @*<div class="col-md-4">
                                    <button type="submit" class="btn btn-success">Search</button>
                                    <a class="btn btn-primary" href="/Admin/User/CreateUser">Add New</a>
                                </div>*@
                            </div>
                        </div>
                    }
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Tên người dùng</th>
                                    <th>Mật khẩu</th>
                                    <th>Rank</th>
                                    <th>Tình trạng</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr id="row_@item.Username">

                                        <td>@item.Username</td>
                                        <td>@item.Pasword</td>
                                        <td>@item.Rank</td>
                                        <td><a href="#">@(item.Statuss ? "Active" : "Clock")</a></td>

                                        <td>
                                            <a href="/Admin/User/EditUser/@item.Username">Edit</a>
                                            @*|
                                                @*<a href="/Admin/User/EditUser/@item.Username">Delete</a>*@
                                            @*@Ajax.ActionLink("Delete", "Delete", new { @id = item.Username }, new AjaxOptions
                                                {
                                                    Confirm = "Do you want delete user?",
                                                    OnComplete = "$('#row_" + @item.Username + "').remove()",
                                                    HttpMethod = "Delete"
                                                })*@
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
    </div>
    <!-- /page content -->
    <!-- footer content -->
    <footer>
        <div class="pull-right">
            Admin - DTShopBook </a>
        </div>
        <div class="clearfix"></div>
    </footer>
    <!-- /footer content -->
</div>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/jquery-3.5.1.min.js"></script>
<script src="~/Areas/Admin/Content/build/js/jquery.unobtrusive-ajax.min.js"></script>