@model Model.EF.Category

@{
    ViewBag.Title = "CreateCate";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="main_container">
    @{Html.RenderAction("LeftMenu", "Home"); }

    <!-- page content -->
    <div class="right_col" role="main">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Thêm danh mục</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            @using (Html.BeginForm("Create", "Category", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-horizontal">
                                    <h3>Thêm danh mục</h3>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CategoryID, htmlAttributes: new { @class = "control-label col-md-2" })
                                        @Html.EditorFor(model => model.CategoryID, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.CategoryID, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CategoryName, htmlAttributes: new { @class = "control-label col-md-2" })
                                        @Html.EditorFor(model => model.CategoryName, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.CategoryName, "", new { @class = "text-danger" })
                                    </div>
                                    @*<div class="form-group">
                                        @Html.LabelFor(model => model.Statuss, htmlAttributes: new { @class = "control-label col-md-2" })
                                        @Html.CheckBoxFor(model => model.Statuss)
                                        @Html.ValidationMessageFor(model => model.Statuss, "", new { @class = "text-danger" })
                                    </div>*@
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="THÊM" class="btn btn-primary" />
                                        </div>
                                    </div>
                                </div>
                            }
                            <div>
                                @Html.ActionLink("Back to List", "Index")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /page content -->
    <!-- footer content -->
    <footer>
        <div class="pull-right">
            Admin - DTShopBook </a>
        </div>
        <div class="clearfix"></div>
    </footer>
    <!-- /footer content -->
</div>

